---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Chris Manlove</title>
		<style>
			body {
				background-color: #000;
				color: #fff;
				margin: 0;
				font-family: sans-serif;
			}
		</style>
	</head>
	<body>
		<h1>Chris Manlove</h1>
	</body>
</html>
